.film-detail {
  display: flex;
  flex-flow: column nowrap;
}

.film-detail .content {
}

.film-detail .poster {
  max-width: 100%;
  align-self: center;
  margin: 0 0 1rem 0;
}

.film-detail .info {
}

.film-detail ol.spielzeiten {
  list-style-type: disc;
}
