nav.tabs {
  margin: 1rem 0;
}
nav.tabs ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
nav.tabs li {
}
nav.tabs a {
  padding: 0.5rem;
  text-decoration: none;
  color: inherit;
}

nav.tabs a.active {
  font-weight: bold;
}
