.film {
  margin-bottom: 1rem;
}

.film .content {
  border: 1px solid grey;
  display: flex;
}

.film .poster {
  max-width: 120px;
  object-fit: contain;
}

.film .info {
  padding: 0.5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  flex-grow: 1;
}

.film .detail-link {
  margin-top: auto;
  align-self: flex-end;
}

a.detail-link {
  color: white;
  text-decoration: none;
  border: 1px solid grey;
  padding: 0.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: darkgrey;
}

a.detail-link::after {
  content: "▶";
  display: block;
  background-color: grey;
  color: white;
  margin: -0.5rem -0.5rem -0.5rem 0.5rem;
  padding: 0.5rem;
}

.film .titel {
  margin-top: 0;
  margin-bottom: 0.25rem;
}
.film .metadaten {
  font-size: 0.5rem;
}

.spielzeit {
  background-color: grey;
  color: white;
  padding: 0.25rem;
  text-align: center;
}

details.tag summary {
  margin-bottom: 1rem;
  cursor: pointer;
}

details.tag span.wd {
  display: inline-block;
  width: 6em;
}
