:root {
  font-family: sans-serif;
  --background-color: #eee;
  --foreground-color: #555;
  --header-background-color: var(--foreground-color);
  --header-foreground-color: var(--background-color);
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #555;
    --foreground-color: #eee;
    --header-background-color: #333;
    --header-foreground-color: #aaa;
  }
}

body {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--foreground-color);
}

body > * {
  padding-left: 1rem;
  padding-right: 1rem;
}
header {
  background-color: var(--header-background-color);
  color: var(--header-foreground-color);
}

header nav a {
  color: inherit;
  text-decoration: none;
}

main {
  flex-grow: 1;
}

footer {
  background-color: purple;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
