{{#> layout }}
<article class="film-detail">
  <h1 class="titel">{{ titleDe }}</h1>
  <img class="poster" src="{{ image }}" />
  <div class="metadaten">
    {{#if director}}Regie: {{ director }}{{/if}} {{#if duration}}Laufzeit:
    {{ duration }} Min.{{/if}}
  </div>
  <p class="beschreibung">
    {{ press }}
  </p>
  <ul class="extern">
    <li><a href="{{ website }}">Filmwebseite</a></li>
    {{#each trailer}}
    <li>
      <a href="{{ link }}">Trailer {{ type }}</a>
    </li>
    {{/each}}
  </ul>
  <h2>Spielzeiten</h2>
  <ol class="spielzeiten">
    <li>Di. 16.04.2023 um 15:30 Uhr</li>
    <li>Di. 16.04.2023 um 21:30 Uhr</li>
    <li>Do. 18.04.2023 um 15:30 Uhr</li>
    <li>So. 21.04.2023 um 12:00 Uhr</li>
  </ol>
</article>
{{/layout}}
