{{#> layout}}
{{#each movies}}
<a href="{{ detailLink }}">
  <figure class="event">
    <img class="poster" src="{{ image }}" />
    <figcaption>{{ titleDe }}</figcaption>
  </figure>
</a>
{{/each}}
{{/layout}}
