<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="css/site.css" />
    <link rel="stylesheet" href="css/navigation.css" />
    {{#if isFilme}}
    <link rel="stylesheet" href="css/event-overview.css" />
    {{/if}}
    {{#if isSpielplan}}
    <link rel="stylesheet" href="css/programm.css" />
    {{/if}}
    <link rel="stylesheet" href="css/film-detail.css" />
    <title>Film :: {{ titleDe }}</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">Programm</a></li>
        </ul>
        ≡
      </nav>
    </header>
    <main>
      {{#if isSpielplanOrFilme}}
          <nav class="tabs">
              <ul>
                  <li>
                      <a href="index.html" {{#if isSpielplan}}class="active"{{/if}}>Spielplan</a>
                  </li>
                  <li>
                      <a href="filme.html" {{#if isFilme}}class="active"{{/if}}>Filme &amp; Veranstaltungen</a>
                  </li>
              </ul>
          </nav>
      {{/if}}
      <div class="content{{#if isSpielplanOrFilme}} event-overview{{/if}}">
        {{> @partial-block }}
      </div>
    </main>
    <footer>C</footer>
  </body>
</html>
