{{#> layout }}
{{#each weeks}}
<h2 class="week-range">{{ week }}</h2>
{{#each dates}}
<details class="tag">
  <summary>
    <span class="wd">{{ dayName }}</span
    >{{ date }}
  </summary>
  {{#each movies}}
  <article class="film">
    <div class="spielzeit">{{ startTime }}</div>
    <div class="content">
      <img class="poster" src="{{ image }}" />
      <div class="info">
        <h2 class="titel">{{ titleDe }}</h2>
        <div class="metadaten">
          Regie: {{ director }}, Laufzeit: {{ duration }} Min., Genre: Komödie
        </div>
        <p class="beschreibung">{{ press }}</p>
        <a href="{{ detailLink }}" class="detail-link">Detail</a>
      </div>
    </div>
  </article>
  {{else}}
  {{>empty-spielplan}}
  {{/each}}
</details>
{{else}}
{{>empty-spielplan}}
{{/each}}
{{else}}
{{>empty-spielplan}}
{{/each}}
{{/layout}}
